*{
    box-sizing: border-box;
}

body{
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 45px;
    padding: 0 22px 0 22px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.08);
}

header img{
    width: 75px;
    height: 53px;
}


footer{
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 17px 0 17px;
    font-size: 30px;
}

footer input{
    height: 80%;
    width: 100%;
    margin-right: 15px;
    border: none;
    font-style: italic;
    font-size: 18px;
    outline: none;
}

main{
    margin-top: 96px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 85px;
}

.container{
    background-color: white;
    padding: 12px;
    margin-bottom: 4px;
    word-wrap: break-word;
}

.hora{
    color: #AAAAAA;
    margin-right: 5px;
}

.usuario, .destinatario{
    font-weight: 700;
}

.status{
    background-color: #dcdcdc;
}

.tela-de-entrada{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000000;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela-de-entrada img{
    width: 130px;
    margin: 72px 0 94px 0;
}

.tela-de-entrada input{
    width: 100%;
    height: 54px;
    border-radius: 4px;
    outline: none;
    border: solid 1px #d7d7d7;
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 400;
}

.tela-de-entrada input::placeholder{
    color: #d7d7d7;
}

.tela-de-entrada button{
    width: 109px;
    height: 45px;
    border-radius: 9px;
    outline: none;
    border: none;
    background-color: #e5e5e5;
    color: #696969;
    font-size: 16px;
}

.some{
    display: none;
}

.nome-loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.nome-loading img{
    position: relative;
    bottom: 150px;
    width: 200px;
}